AWS_ENDPOINT_URL=http://localhost:4566
AWS_DEFAULT_REGION=us-east-1
AWS_PROFILE=local

S3_BUCKET_NAME=resume-ranker-dev-storage
DYNAMODB_TABLE_NAME=ResumePlatform

ENVIRONMENT=local
LOG_LEVEL=DEBUG
FRONTEND_URL=
